/* .transaction {
  display: flex;
  justify-content: space-around;
} */
table {
  width: 60%;
  margin-left: 10%;
  margin-top: 5%;
  height: 60vh;
}

.edit {
  margin-left: 400%;
}
.button {
  margin-left: 300%;
}
