/* .transaction {
  display: flex;
  justify-content: space-around;
} */
table {
  width: 60%;
  margin-left: 10%;
  height: 40vh;
}
#data {
}
.edit {
  margin-left: 400%;
}
.button {
  margin-left: 300%;
}

.transactions {
  background-color: rgb(240, 240, 240);
  /* background: linear-gradient(red 20%, white 60%); */
}
